extends layout

block content
  h1= title
  p Welcome to #{title}

  div content 
  ol 
    li item 1
    li item 2
    li item 3
  
  p This is a  testing paragragh

  script.   
      const y = 10;
      function best (x){
        hi this is script
      }

  - let  x = "20"
  p we are going around #{x+2} times.

  ol 
  - for(var i=0; i<5; i++)
      li item
  
  ol     
  - var list = ['one', "two", 'three']
    each item in list
      li= item


